.hdr {
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.1428;
  &__flex {
    gap: 94px;
  }
  @media (max-width: 767px) {
    &__flex {
      // justify-content: flex-end;
      justify-content: space-between;
    }
  }
  &__logo {
    // margin-left: 13.4375%;
    margin-left: 0.577em;
  }
  &__nav-container {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__menu-list {
    gap: 46px;
  }
  // &__menu-item {
  // }
  &__menu-link {
    color: var(--color-text-dark);
  }
  &__menu-link:hover,
  &__menu-link:focus,
  &__menu-link:active {
    color: var(--color-text-primary);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }
  &__btn:hover {
    color: var(--color-text-primary);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }
}

.is-active {
  position: relative;
  color: var(--color-text-primary);
}
.is-active::after {
  content: '';
  position: absolute;
  display: block;
  top: 2.875rem;
  width: 100%;
  height: 4px;
  background-color: var(--color-text-primary);
  border-radius: 2px;
}

// mobile menu
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 46px;

  @media (max-width: 767px) {
    & {
      display: none;
    }
  }

  .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }

  .link:hover,
  .link:focus {
    text-decoration: underline;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }

  &-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }

  @media (min-width: 768px) {
    &-toggle {
      display: none;
    }
  }

  &-toggle:hover,
  &-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }

  &-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    // background-color: #3f51b5;
    background-color: #ffffff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  &-container.is-open {
    transform: translateX(0);
  }

  &-container &-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    // color: #fff;
    color: black;
  }
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: black;
}

.mobile-menu .link:hover {
  color: var(--color-text-primary);
}

.mobile-menu__flex {
  display: block;
  font-size: 34px;
  letter-spacing: 0.02em;
  margin-top: 260px;
}

.mobile-menu__social_list {
  margin-top: 64px;
  list-style: none;
  gap: 10px;
}

.mobile-menu__social_item {
  font-size: var(--fs-200);
  line-height: 1.2222;
  letter-spacing: 0.02em;
  // cursor: hand;
  position: relative;
}
.mobile-menu__btn:hover() {
  color: var(--color-text-primary);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

// .mobile-menu__social_item::after {
//   content: '';
//   position: absolute;
//   display: block;
//   top: 0;
//   width: 2px;
//   height: 22px;
//   background-color: var(--color-text-primary);
//   border-radius: 2px;
// }

.social-list__seperator {
  display: block;
  top: 0;
  width: 1px;
  height: 26px;
  background-color: var(--color-text-primary);
  border-radius: 2px;
  color: var(--color-text-dark);
  opacity: 0.2;
}

.mobile-menu__social_link {
  color: var(--color-text-primary);
}

.mobile-menu__social_link:hover {
  color: var(--color-text-primary);
}

// .mobile-menu__btn {
//   min-height: 80px;
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
// }

@media (max-width: 430px) {
  .menu-container {
    padding-left: 10px;
    padding-right: auto;
  }
   // .mobile-menu__social_list {
  //   flex-direction: column;
  // }
  .mobile-menu__flex {
    font-size: var(--fs-200);
    // letter-spacing: 0.02em;
    // margin-top: 302px;
  }
.mobile-menu__social_item {
  font-size: var(--fs-small);
  // line-height: 1.2222;
  // letter-spacing: 0.02em;
  // cursor: hand;
  // position: relative;
}
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hdr {
    padding: 21px 0 21px;
  }
  .hdr__flex {
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .hdr__flex {
    // justify-content: space-around;
    justify-content: space-between;
  }
}
