@use './../abstracts' as *;

//////////////////////////////////////////////////////
///

.card {
  // width: 270px;
  width: 93.75vw;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
@media (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
  }
  @media (min-width: 1200px) {
      width: 270px;
  }
  &__logo {
    box-sizing: border-box;
    // width: 170px;
    width: 46.67%;
    padding: 16px 0 12px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: inline-block;
  }
  &__logo:hover {
    border-color: #2196f3;
    --color-icon-select: #2196f3;
    --color-icon: #fff;
  }
  &__thumb {
    position: relative;
    display: inline-block;
    z-index: -1;
  }
  &__box {
    background: #f5f4fa;
    border-radius: 4px;
    // width: 270px;
    width: 93.75vw;
    // height: 120px;
    height: auto;
    display: inline-flex;
    margin-bottom: 30px;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    &__box {
      width: 354px;
    }
  }
  @media (min-width: 1200px) {
    &__box {
      width: 270px;
    }
  }
  &__icon {
    margin: 25px auto;
  }
  &__title-primary {
    font-weight: 700;
    text-transform: capitalize;
    // text-align: left;
    font-size: 0.875rem;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  @media (min-width: 768px) {
    &__title-primary {
      text-align: left;
    }
  }
  &__title-secondary {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  &__title-third {
    font-weight: 700;
    text-align: left;
    font-size: 1.125rem;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
  }
  &__title-third--mb {
    margin-bottom: 0;
  }
  &__caption {
    padding-top: 20px;
    border: none;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }
  &__caption--padding {
    padding: 20px 24px;
  }
  &__description-primary {
    /* line-height: 1.875; */
    // letter-spacing: 0.03em;
    color: #757575;
    // font-size: 0.875em;
    // font-size: var(--fs-small);
    // line-height: 1.71;
  }
  &__description-secondary {
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #757575;
    font-size: 1rem;
    line-height: 1.1875;
    text-align: center;
  }
  &__description-secondary--lh {
    line-height: 1.875;
    text-align: left;
  }
  &__shadow:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__image {
    position: relative;
    // width: 370px;
    // height: 294px;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }
  &__item:hover &__overlay {
    transform: translateY(0);
  }
  &__overlay--text {
    color: var(--color-text-light);
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 0 24px;
    letter-spacing: 0.03em;
  }
  &__label {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: var(--color-text-light);
    line-height: 4.375rem;
    margin: 0;
    background: rgba(47, 48, 58, 0.8);
  }
}
