.contact {
  //   &__list {
  //   }
  &__item {
    // margin-bottom: 10px;
  }
  &__link {
    display: flex;
    align-items: center;
    color: var(--color-text-secondary);
    // font-size: 34px;
    // letter-spacing: 0.02em;
  }
  &__link:hover {
    --color-icon-select: var(--color-text-primary);
    color: var(--color-text-primary);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }
  &__icon {
    margin-right: 10px;
    display: none;
  }
  &__list {
    // display: block;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact__list {
    display: block;
  }
  .contact__item {
    margin-bottom: 7px;
  }
}

@media (min-width: 1200px) {
}
