// .icon__name {
//   position: absolute;
//   width: 20px;
//   height: 20px;
//   left: 12px;
//   top: 28px;
// }
// .icon__phone {
//   position: absolute;
//   width: 20px;
//   height: 20px;
//   left: 12px;
//   top: 28px;
// }
// .icon__email {
//   position: absolute;
//   width: 20px;
//   height: 20px;
//   left: 12px;
//   top: 28px;
// }
input[type='text'] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type='tel'] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type='email'] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type='checkbox'] {
  width: 16px;
  height: 15px;
  opacity: 1;
  cursor: pointer;
  border: none;
}
input[type='checkbox'] {
  width: 16px;
  height: 15px;
  opacity: 1;
  cursor: pointer;
  border: none;
}

// .form-user label {
//   font-size: 0.75rem;
//   line-height: 1.1666;
//   letter-spacing: 0.01em;
//   color: var(--color-text-secondary);
//   display: block;
//   margin-bottom: 4px;
// }
// .form-user__label {
//   font-size: 0.75rem;
//   line-height: 1.1666;
//   letter-spacing: 0.01em;
//   color: var(--color-text-secondary);
//   display: block;
//   margin-bottom: 4px;
// }
// .form-user__header {
//   font-weight: 700;
//   font-size: 1.25rem;
//   line-height: 1.15;
//   text-align: center;
//   color: var(--color-text-dark);
//   margin-bottom: 11px;
// }
// .form-user__label-name {
//   margin-bottom: 4px;
// }

// .form-user__input-name {
//   box-sizing: border-box;
//   width: 100%;
//   height: 40px;
//   padding-left: 42px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   transition-property: border;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
// .form-user__input-name:focus {
//   border: 1px solid var(--bgcolor-select);
// }
// .form-user__input-name:focus + .name__icon {
//   --color-icon-select: var(--bgcolor-select);
// }

// .form-user__label-phone {
//   margin-bottom: 4px;
// }

// .form-user__input-phone {
//   box-sizing: border-box;
//   width: 100%;
//   height: 40px;
//   padding-left: 42px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   transition-property: border;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
// .form-user__input-phone:focus {
//   border: 1px solid var(--bgcolor-select);
// }
// .form-user__input-phone:focus + .phone__icon {
//   --color-icon-select: var(--bgcolor-select);
// }

// .form-user__label-email {
//   margin-bottom: 4px;
// }

// .form-user__input-email {
//   box-sizing: border-box;
//   width: 100%;
//   height: 40px;
//   padding-left: 42px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   transition-property: border;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
// .form-user__input-email:focus {
//   border: 1px solid var(--bgcolor-select);
// }
// .form-user__input-email:focus + .email__icon {
//   --color-icon-select: var(--bgcolor-select);
// }

// .form-user__label-comment {
//   text-align: left;
// }
// .form-user__textarea-comment {
//   box-sizing: border-box;
//   width: 448px;
//   height: 120px;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 14px;
//   letter-spacing: 0.01em;
//   resize: none;
//   margin-bottom: 25px;
//   padding: 12px 16px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
// }
// .form-user__textarea-comment:focus {
//   border: 1px solid var(--bgcolor-select);
// }

// /* checkbox ------------------------------- */
// .form-user__checkbox-svg {
//   position: absolute;
//   display: none;
//   left: 0px;
//   top: 0px;
//   width: 16px;
//   height: 15px;
// }
// .form-user__checkbox > input:checked + label > .form-user__checkbox-svg {
//   display: block;
// }
// .form-user__checkbox {
//   display: inline-flex;
//   cursor: pointer;
//   position: relative;
//   margin-left: 15px;
// }
// .form-user__checkbox > input {
//   height: 15px;
//   width: 16px;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   -o-appearance: none;
//   appearance: none;
//   border: 2px solid #212121;
//   border-radius: 2px;
//   outline: none;
//   transition-duration: 0.3s;
//   background-color: #fff;
//   cursor: pointer;
// }
// .form-user__checkbox > input:focus {
//   outline-offset: 1px;
//   outline: #2196f3 solid 2px;
// }
// .form-user__checkbox > input:checked {
//   border: 2px solid #2196f3;
//   outline: none;
//   /* background-color: #2196f3; */
// }
// /* However, this way might be better -------------------- */
// /* .form-user__checkbox > input:checked + label::before { */
// /* content: '\2713'; */
// /* content: ''; */
// /* display: block; */
// /* text-align: center; */
// /* color: #fff; */
// /* position: absolute; */
// /* left: 0.32rem; */
// /* top: 0; */
// /* width: 5px; */
// /* height: 10px; */
// /* border: solid white; */
// /* border-width: 0 2px 2px 0; */
// /* -webkit-transform: rotate(45deg); */
// /* transform: rotate(45deg); */
// /* } */
// /* .form-user__checkbox > input:active { */
// /* border: 2px solid #2196F3; */
// /* } */
// .form-user__checkbox .form-user__checkbox-label {
//   padding-left: 8px;
//   font-weight: 400;
//   font-size: 14px;
//   letter-spacing: 0.03em;
//   color: #757575;
// }
// .form-user__checkbox-label--text-highlight {
//   text-decoration-line: underline;
//   color: #2196f3;
// }
// .form-user__submit {
//   width: 200px;
//   height: 50px;
//   color: #fff;
//   background: #2196f3;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   border: none;
//   margin: 0 auto;
//   margin-top: 30px;
//   /* outline: none; */
//   cursor: pointer;
//   transition-duration: 0.3s;
//   display: block;
// }

//////////////////////////////////////////////////////

.form-user {
  &__label {
    font-size: 0.75rem;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: var(--color-text-secondary);
    display: block;
    margin-bottom: 4px;
  }
  &__header {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.15;
    text-align: center;
    color: var(--color-text-dark);
    margin-bottom: 11px;
  }
  &__label-name {
    margin-bottom: 4px;
  }
  &__label-name:hover {
    color: var(--color-text-primary);
  }

  &__input-name {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input-name:focus {
    border: 1px solid var(--bgcolor-select);
  }
  &__input-name:focus + .icon__name {
    --color-icon-select: var(--bgcolor-select);
  }

  &__label-phone {
    margin-bottom: 4px;
  }
  &__label-phone:hover {
    color: var(--color-text-primary);
  }

  &__input-phone {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input-phone:focus {
    border: 1px solid var(--bgcolor-select);
  }
  &__input-phone:focus + .icon__phone {
    --color-icon-select: var(--bgcolor-select);
  }

  &__label-email {
    margin-bottom: 4px;
  }
  &__label-email:hover {
    color: var(--color-text-primary);
  }

  &__input-email {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input-email:focus {
    border: 1px solid var(--bgcolor-select);
  }
  &__input-email:focus + .icon__email {
    --color-icon-select: var(--bgcolor-select);
  }

  &__label-comment {
    text-align: left;
  }
  &__label-comment:hover {
    color: var(--color-text-primary);
  }
  &__textarea-comment {
    box-sizing: border-box;
    // width: 448px;
    // width: 370px;
    width: 100%;
    height: 120px;
    font-family: var(--font-text-primary);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    resize: none;
    margin-bottom: 17px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: rgba(117, 117, 117, 0.5);
  }
  &__textarea-comment:focus {
    border: 1px solid var(--bgcolor-select);
  }

  /* checkbox ------------------------------- */
  &__checkbox-svg {
    position: absolute;
    display: none;
    left: 0px;
    top: 4px;
    width: 16px;
    height: 15px;
  }
  &__checkbox > input:checked + label > &__checkbox-svg {
    display: block;
  }
  &__checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    // margin-left: 15px;
    margin-left: 0;
    align-items: center;
  }
  &__checkbox > input {
    height: 15px;
    width: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 2px solid #212121;
    border-radius: 2px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #fff;
    cursor: pointer;
  }
  &__checkbox > input:focus {
    outline-offset: 1px;
    outline: #2196f3 solid 2px;
  }
  &__checkbox > input:checked {
    border: 2px solid #2196f3;
    outline: none;
    /* background-color: #2196f3; */
  }
  /* However, this way might be better -------------------- */
  /* .form-user__checkbox > input:checked + label::before { */
  /* content: '\2713'; */
  /* content: ''; */
  /* display: block; */
  /* text-align: center; */
  /* color: #fff; */
  /* position: absolute; */
  /* left: 0.32rem; */
  /* top: 0; */
  /* width: 5px; */
  /* height: 10px; */
  /* border: solid white; */
  /* border-width: 0 2px 2px 0; */
  /* -webkit-transform: rotate(45deg); */
  /* transform: rotate(45deg); */
  /* } */
  /* .form-user__checkbox > input:active { */
  /* border: 2px solid #2196F3; */
  /* } */
  &__checkbox &__checkbox-label {
    padding-left: 8px;
    font-weight: 400;
    // font-size: 14px;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #757575;
  }
  &__checkbox-label--text-highlight {
    text-decoration-line: underline;
    color: #2196f3;
  }
  &__submit {
    width: 200px;
    height: 50px;
    color: #fff;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    margin-top: 30px;
    /* outline: none; */
    cursor: pointer;
    transition-duration: 0.3s;
    display: block;
  }
}
