/* main - hero ------------------------------ */
.hero {
  width: 100%;
  height: auto;
  // width: 100%;
  // max-width: 100%;
  // height: auto;
  margin: 0 auto;
  //  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
  //    url('./../../images/hero-main@480.png');
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
    url('./../images/hero-main@480.jpg');
  background-repeat: no-repeat;
  // background-size: 100% 100%;
  background-size: cover;
}

// (min-width: 769px)
// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .hero {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
//       url('./../../images/hero-main@480x2.png');
//   }
// }
// (min-width: 1153px)
// @media (min-device-pixel-ratio: 3),
//   (-webkit-min-device-pixel-ratio: 3),
//   (min-resolution: 288dpi),
//   (min-resolution: 3dppx) {
//   .hero {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
//       url('./../../images/hero-main@480x3.png');
//   }
// }

@media (min-width: 668px) and (max-width: 1199px) {
  .hero {
    // background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
    //   url('./../../images/hero-main@768.png');
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
      url('./../images/hero-main@768.jpg');
  }
}
// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) and (min-width: 668px) and (max-width: 1199px) {
//   .hero {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
//       url('./../../images/hero-main@768x2.png');
//   }
// }
// @media (min-device-pixel-ratio: 3),
//   (-webkit-min-device-pixel-ratio: 3),
//   (min-resolution: 288dpi),
//   (min-resolution: 3dppx) and (min-width: 668px) and (max-width: 1199px) {
//   .hero {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
//       url('./../../images/hero-main@768x3.png');
//   }
// }

@media (min-width: 1200px) {
  .hero {
    // background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
    //   url('./../../images/hero-main@1600.jpg');
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
      url('./../images/hero-main@1600.jpg');

    max-width: 1600px;
    padding: 200px 0;
    height: 600px;
  }
}

// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) and (min-width: 1200px) {
//   .hero {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
//       url('./../../images/hero-main@1600x2.jpg');
//   }
// }
//
// @media (min-device-pixel-ratio: 3),
//   (-webkit-min-device-pixel-ratio: 3),
//   (min-resolution: 288dpi),
//   (min-resolution: 3dppx) and (min-width: 1200px) {
//   .hero {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
//       url('./../../images/hero-main@1600x3.jpg');
//   }
// }

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  @media (max-width: 667px) {
    .hero {
      // background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
      //   url('./../images/hero-main@1600x2.jpg');
      background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
        url('./../images/hero-main@480x2.jpg');
    }
  }
  @media (min-width: 668px) and (max-width: 1199px) {
    .hero {
      // background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
      //   url('./../images/hero-main@1600x2.jpg');
      background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
        url('./../images/hero-main@768x2.jpg');
    }
  }
  @media (min-width: 1200px) {
    .hero {
      // background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
      //   url('./../images/hero-main@1600x2.jpg');
      background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
        url('./../images/hero-main@1600x2.jpg');
    }
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  @media (max-width: 667px) {
    .hero {
      // background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
      //   url('./../images/hero-main@1600x2.jpg');
      background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
        url('./../images/hero-main@480x3.jpg');
    }
  }
  @media (min-width: 668px) and (max-width: 1199px) {
    .hero {
      // background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
      //   url('./../images/hero-main@1600x2.jpg');
      background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
        url('./../images/hero-main@768x3.jpg');
    }
  }
  @media (min-width: 1200px) {
    .hero {
      // background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
      //   url('./../images/hero-main@1600x2.jpg');
      background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
        url('./../images/hero-main@1600x3.jpg');
    }
  }
}

// @media (min-device-pixel-ratio: 3),
//   (-webkit-min-device-pixel-ratio: 3),
//   (min-resolution: 288dpi),
//   (min-resolution: 3dppx) {
//   .hero {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4) 25%, rgba(47, 48, 58, 0.2)),
//       url('./../images/hero-main@1600x3.jpg');
//   }
// }

.hero__content {
  // padding: 200px 0;
  @media (min-width: 480px) and (max-width: 1199px) {
    padding: 8.4285em 0;
  }
}
.hero__title {
  text-transform: uppercase;
  color: var(--color-text-light);
}
/* btn - Zamów usługę    */
.hero__btn {
  background: #2196f3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  font-family: var(--font-text-primary);
  /*! font-style: italic; */
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 1.875em auto 0;
  padding: 0.625em 2.5625em;
  font-size: 1rem;
}
