.logo {
  &__font {
    font-family: var(--font-text-secondary);
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    &--black {
      color: black;
    }
    &--white {
      color: white;
    }
  }
}
