// .social__list {
//   margin: 0;
//   padding: 16px 32px 25px;
// }
// .social__item {
//   display: inline-block;
//   margin: 0;
// }
// .social__link {
//   align-items: center;
//   background-color: transparent;
//   display: flex;
//   flex-direction: column;
//   padding: 0;
// }
// .social__link:hover {
//   --color-icon-select: #2196f3;
//   --color-icon: #fff;
// }

.social {
  &__list {
    // margin: 0;
    // padding: 16px 32px 25px;
    padding: 16px 0 17px;
    // padding: 1.1428em 27.1% 1.2142em;
    display: flex;
    justify-content: center;
  }
  &__list-seperator {
    // display: block;
    // top: 0;
    width: 1px;
    height: 26px;
    background-color: var(--color-text-dark);
    border-radius: 2px;
    // color:  var(--color-text-dark);
    opacity: 0.2;
  }
  &__item {
    // display: inline-block;
    margin: 5px;
  }
  &__link {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  &__link:hover {
    --color-icon-select: #2196f3;
    --color-icon: #fff;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}

// &__link {
//     align-items: center;
//     background-color: transparent;
//     display: flex;
//     flex-direction: column;
//     padding: 0;
//   }
