@use './../abstracts' as *;

:root {
  --color-text-primary: #2196f3;
  --color-text-secondary: #757575;
  --color-text-light: #fff;
  --color-text-dark: #212121;
  --bgcolor-body: #f5f4fa;
  --bgcolor-primary: #2f303a;
  --bgcolor-select: #2196f3;
  --bgcolor-light: #fff;
  --font-text-primary: 'Roboto', sans-serif;
  --font-text-secondary: 'Raleway', sans-serif;

  // font size - the typographic scale
  --fs-100: 1rem;
  --fs-200: 1.125rem;
  --fs-250: 1.625rem;
  --fs-300: 2.25rem;
  --fs-400: 2.75rem;
  // --fs-5: 3.157rem;
  --fs-small: 0.875rem;
// line-height
// --lh-1: 1.1875
// --lh-small: 1.1428

}

