.flex {
  display: flex;
  align-items: center;
  gap: 30px;
  
  // justify-content: space-between;
  // &--jc-flex-end {
  //   justify-content: flex-end;
  // }
}
.wrap {
  flex-wrap: wrap;
  padding-top: 50px;
  // outline: 2px var(--style-outline) var(--color-outline-section);
}
